* {
  font-family: 'PT Sans', sans-serif;
}

body {
  display: flex;
  /* width: 100%; */
  margin: 0;
  color: white;
}

section {
  text-align: center;
}

h1 {
  font-size: 64px;
  margin: 15px 0 5px;;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

.token {
  font-size: 40px;
  margin: 0;
  padding-top: 40px;
}

.wins {
  font-size: 36px;
}

.announce-result {
  font-size: 48px;
}

.change-button {
  border-radius: 30px;
  background-color: rgb(167, 247, 75);
  padding: 10px 15px;
  border-style: none;
  margin-top: 50px;
  font-size: 24px;
}

.human, .computer {
  background-color: rgb(72, 66, 246);
  /* width: 25%; */
  width: 350px;
  min-height: 100vh;
  /* font-size: 2rem; */
  text-align: center;
}

.gameboard {
  background-color: rgb(103, 117, 247);
  /* width: 75%; */
  flex: 1;
}

/* .version-wrapper {
  margin-top: 100px;
} */

 
.classic-version, .advanced-version {
  background-color: rgb(5, 92, 26);
  width: 50%;
  margin: auto;
  padding: 2px;
  border-radius: 30px;
  cursor: pointer;
}

.classic-version {
  margin-bottom: 20px;
}

img {
  max-width: 20%;
  height: auto;
  margin: 30px 30px;
  cursor: pointer;
}

#water {
  max-width: 15%;
}


.hidden {
  display: none;
}
