body {
  display: flex;
  width: 100%;
  margin: 0;
  background-color: rgb(113, 100, 100);
}

section {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.human,
.computer {
  background-color: grey;
  width: 20%;
  min-height: 100vh;
  font-size: 2rem;
}

.player-container {
  margin-top: 50px;
}

.gameboard {
  background-color: rgb(113, 100, 100);
  width: 80%;
}

img {
  max-width: 20%;
  height: auto;
}

.hidden {
  display: none;
}
